/build
.vs/
CMakeSettings.json
/build*
redalert/RedAlert.dir/Debug/RedAlert.tlog/rc.write.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/rc.read.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/rc.command.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/link.write.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/link.read.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/link.command.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/link-rc.write.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/link-rc.read.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/link-cvtres.write.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/CompilerIdCXX.vcxproj
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.12.18081601-MSVC_2/CMakeSystem.cmake
CMakeFiles/3.12.18081601-MSVC_2/CMakeRCCompiler.cmake
CMakeFiles/3.12.18081601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.12.18081601-MSVC_2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.12.18081601-MSVC_2/CMakeCXXCompiler.cmake
CMakeFiles/3.12.18081601-MSVC_2/CMakeCCompiler.cmake
CMakeFiles/15ed98f2336378806fea8ec843a948a3/generate.stamp.rule
CMakeFiles/0eb2700b6e64b098b3867e2d53395cfb/check_git.rule
CMakeCache.txt
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/custombuild.read.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/custombuild.command.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/VanillaRA.lastbuildstate
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/CL.write.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/CL.read.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/CL.command.1.tlog
redalert/RemasterRAResource.rc
redalert/RemasterRAInfo.h
redalert/RedAlert.vcxproj.filters
redalert/RedAlert.vcxproj
redalert/RedAlert.dir/Debug/RemasterRAResource.res
redalert/RedAlert.dir/Debug/RedAlert.tlog/unsuccessfulbuild
cmake_install.cmake
ZERO_CHECK.vcxproj.filters
ZERO_CHECK.vcxproj
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdC/CompilerIdC.vcxproj
redalert/RedAlert.dir/Debug/RedAlert.tlog/custombuild.command.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/RedAlert.lastbuildstate
redalert/RedAlert.dir/Debug/RedAlert.tlog/CL.write.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/CL.read.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/CL.command.1.tlog
CMakeFiles/feature_tests.c
CMakeFiles/feature_tests.bin
CMakeFiles/cmake.check_cache
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.12.18081601-MSVC_2/VCTargetsPath.vcxproj
CMakeFiles/3.12.18081601-MSVC_2/VCTargetsPath.txt
CMakeFiles/3.12.18081601-MSVC_2/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
redalert/VanillaRAResource.rc
redalert/VanillaRAInfo.h
redalert/VanillaRA.vcxproj.filters
redalert/VanillaRA.vcxproj
common/common.dir/Debug/common.tlog/CL.write.1.tlog
common/common.dir/Debug/common.tlog/CL.read.1.tlog
common/common.dir/Debug/common.tlog/CL.command.1.tlog
common/cmake_install.cmake
common/check_git.vcxproj.filters
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
VanillaConquer.sln
CMakeFiles/generate.stamp.list
CMakeFiles/generate.stamp.depend
CMakeFiles/generate.stamp
CMakeFiles/feature_tests.cxx
common/commonr.dir/Debug/commonr.tlog/Lib.command.1.tlog
common/commonr.dir/Debug/commonr.tlog/Lib-link.write.1.tlog
common/commonr.dir/Debug/commonr.tlog/Lib-link.read.1.tlog
common/commonr.dir/Debug/commonr.tlog/CL.write.1.tlog
common/commonr.dir/Debug/commonr.tlog/CL.read.1.tlog
common/check_git.vcxproj
common/Win32/Debug/check_git/check_git.tlog/custombuild.write.1.tlog
common/Win32/Debug/check_git/check_git.tlog/custombuild.read.1.tlog
common/Win32/Debug/check_git/check_git.tlog/custombuild.command.1.tlog
common/Win32/Debug/check_git/check_git.tlog/check_git.lastbuildstate
common/CMakeFiles/generate.stamp.depend
common/CMakeFiles/generate.stamp
common/commonv.vcxproj.filters
common/commonv.vcxproj
common/commonv.dir/Debug/commonv.tlog/commonv.lastbuildstate
common/commonv.dir/Debug/commonv.tlog/Lib.command.1.tlog
common/commonv.dir/Debug/commonv.tlog/Lib-link.write.1.tlog
common/commonr.dir/Debug/commonr.tlog/CL.command.1.tlog
common/common.vcxproj.filters
common/common.vcxproj
common/common.dir/Debug/common.tlog/common.lastbuildstate
common/common.dir/Debug/common.tlog/Lib.command.1.tlog
common/common.dir/Debug/common.tlog/Lib-link.write.1.tlog
common/common.dir/Debug/common.tlog/Lib-link.read.1.tlog
tiberiandawn/cmake_install.cmake
tiberiandawn/VanillaTDResource.rc
tiberiandawn/VanillaTDInfo.h
tiberiandawn/VanillaTD.vcxproj.filters
tiberiandawn/VanillaTD.vcxproj
tiberiandawn/TiberianDawn.vcxproj.filters
tiberiandawn/TiberianDawn.vcxproj
tiberiandawn/RemasterTDResource.rc
common/commonv.dir/Debug/commonv.tlog/Lib-link.read.1.tlog
common/commonv.dir/Debug/commonv.tlog/CL.write.1.tlog
common/commonv.dir/Debug/commonv.tlog/CL.read.1.tlog
common/commonv.dir/Debug/commonv.tlog/CL.command.1.tlog
common/commonr.vcxproj.filters
common/commonr.vcxproj
common/commonr.dir/Debug/commonr.tlog/commonr.lastbuildstate
redalert/VanillaRA.dir/Debug/VanillaRAResource.res
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/rc.write.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/rc.read.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/rc.command.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/link.write.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/link.read.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/link.command.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/custombuild.write.1.tlog
redalert/Debug/RedAlert.exp
redalert/CMakeFiles/generate.stamp.depend
redalert/CMakeFiles/generate.stamp
git-state-hash
format.vcxproj.filters
format.vcxproj
common/gitinfo.c
tiberiandawn/RemasterTDInfo.h
tiberiandawn/CMakeFiles/generate.stamp.depend
tiberiandawn/CMakeFiles/generate.stamp
redalert/cmake_install.cmake
redalert/RedAlert.dir/Debug/RedAlert.tlog/link-cvtres.read.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/custombuild.write.1.tlog
redalert/RedAlert.dir/Debug/RedAlert.tlog/custombuild.read.1.tlog
