[Desktop Entry]
Encoding=UTF-8
Terminal=false
Categories=Game;
Comment=An open source RTS game.
Exec=vanillara
GenericName=Launcher
Icon=vanillara
Name=Vanilla RA
StartupNotify=false
Type=Application
Version=1.0
